ESWS/src/main/resources/employeeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="employeeService" targetNamespace="http://service.esws.inbravo.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.esws.inbravo.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.esws.inbravo.com/" xmlns:tns="http://service.esws.inbravo.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="create" type="tns:create" />
			<xs:element name="createResponse" type="tns:createResponse" />
			<xs:element name="delete" type="tns:delete" />
			<xs:element name="deleteResponse" type="tns:deleteResponse" />
			<xs:element name="employee" type="tns:employee" />
			<xs:element name="read" type="tns:read" />
			<xs:element name="readResponse" type="tns:readResponse" />
			<xs:element name="update" type="tns:update" />
			<xs:element name="updateResponse" type="tns:updateResponse" />
			<xs:complexType name="create">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:employee" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="extension restriction" name="employee">
				<xs:sequence>
					<xs:element minOccurs="0" name="designation" type="xs:string" />
					<xs:element minOccurs="0" name="email" type="xs:string" />
					<xs:element name="empId" type="xs:int" />
					<xs:element minOccurs="0" name="empName" type="xs:string" />
					<xs:element minOccurs="0" name="phone" type="xs:string" />
					<xs:element name="salary" type="xs:float" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="createResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="delete">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="deleteResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="update">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="tns:employee" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="updateResponse">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="read">
				<xs:sequence />
			</xs:complexType>
			<xs:complexType name="readResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:employee" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Exception" type="tns:Exception" />
			<xs:complexType name="Exception">
				<xs:sequence>
					<xs:element minOccurs="0" name="message" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="Exception">
		<wsdl:part element="tns:Exception" name="Exception">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="update">
		<wsdl:part element="tns:update" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteResponse">
		<wsdl:part element="tns:deleteResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateResponse">
		<wsdl:part element="tns:updateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="readResponse">
		<wsdl:part element="tns:readResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="read">
		<wsdl:part element="tns:read" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="delete">
		<wsdl:part element="tns:delete" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createResponse">
		<wsdl:part element="tns:createResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="create">
		<wsdl:part element="tns:create" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="EmployeeService">
		<wsdl:operation name="create">
			<wsdl:input message="tns:create" name="create">
			</wsdl:input>
			<wsdl:output message="tns:createResponse" name="createResponse">
			</wsdl:output>
			<wsdl:fault message="tns:Exception" name="Exception">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="tns:delete" name="delete">
			</wsdl:input>
			<wsdl:output message="tns:deleteResponse" name="deleteResponse">
			</wsdl:output>
			<wsdl:fault message="tns:Exception" name="Exception">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="update">
			<wsdl:input message="tns:update" name="update">
			</wsdl:input>
			<wsdl:output message="tns:updateResponse" name="updateResponse">
			</wsdl:output>
			<wsdl:fault message="tns:Exception" name="Exception">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="read">
			<wsdl:input message="tns:read" name="read">
			</wsdl:input>
			<wsdl:output message="tns:readResponse" name="readResponse">
			</wsdl:output>
			<wsdl:fault message="tns:Exception" name="Exception">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="employeeServiceSoapBinding" type="tns:EmployeeService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="create">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="create">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="delete">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="update">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="update">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="updateResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="read">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="read">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="readResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="Exception">
				<soap:fault name="Exception" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="employeeService">
		<wsdl:port binding="tns:employeeServiceSoapBinding" name="EmployeeSOAPServicePort">
			<soap:address location="http://localhost:8080/esws/services/employeeService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>